<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="background-color: #FFFFFF; margin: 0; padding: 0; font-family: serif;">
    <div style="width: 100%; max-width: 1200px; margin: 0 auto;">
        <div style="display: flex; justify-content: center;">
            <div style="width: 595px; height: 842px; padding: 10px;">
                <div style="text-align: center; font-size: 15px; font-weight: bold; text-decoration: underline;">
                    <h1>TAX INVOICE CUM RECEIPT</h1>
                </div>
                <div style="display: flex; margin-top: 10px; font-size: 10px;">
                    <div style="line-height: 1;">
                        <h3>Invoice No. :</h3>
                        <h3>Invoice Date :</h3>
                        <h3>Transaction ID :</h3>
                    </div>
                    <div style="margin-left: 8px; line-height: 1; font-weight: 600;">
                        <h3>CD/2024-24/B100</h3>
                        <h3>6 March, 2023</h3>
                        <h3>ClevDoc1717070483805607261</h3>
                    </div>
                </div>
                <hr style="opacity: 0.6; margin: 3px 0; border-bottom: 1px solid #000000;" />
                <div style="display: flex; justify-content: space-between; font-size: 10px; margin: 0 4px;">
                    <div style="width: 300px; padding-right: 2px;">
                        <h2 style="font-size: 11px; font-weight: 700;">Billed To</h2>
                        <div style="margin-top: 2px; line-height: 1;">
                            <h2 style="font-weight: 500;">Surya Pratap</h2>
                            <h2 style="font-weight: 300;"><span style="font-weight: 500;">Address:</span> Plot No. 858, Lower Ground Floor, Gurgaon</h2>
                            <h2 style="font-weight: 300;"><span style="font-weight: 500;">PAN:</span> FYQPP1194D</h2>
                            <h2 style="font-weight: 300;"><span style="font-weight: 500;">GSTIN:</span> 23SED5F6TF6TG</h2>
                        </div>
                    </div>
                    <div style="width: 198px; padding-right: 2px;">
                        <h2 style="font-size: 11px; font-weight: 700;">From</h2>
                        <div style="margin-top: 2px; line-height: 1;">
                            <h2 style="font-weight: 500;">Clevdoc Platforms Inc.</h2>
                            <h2><span style="font-weight: 500;">Address:</span> Plot No. 858, Lower Ground Floor, Gurgaon</h2>
                            <h2><span style="font-weight: 500;">State Code: </span> 122016</h2>
                            <h2><span style="font-weight: 500;">PAN:</span> FYQPP1194D</h2>
                            <h2><span style="font-weight: 500;">GSTIN:</span> 23SED5F6TF6TG</h2>
                        </div>
                    </div>
                </div>
                <hr style="opacity: 0.6; margin: 3px 0; border-bottom: 1px solid #000000;" />
                <div style="display: flex; font-size: 11px; font-weight: 700;">
                    <h1 style="width: 222px;">Description</h1>
                    <h1 style="width: 85px; text-align: center;">HSN CODE</h1>
                    <h1 style="width: 50px; text-align: center;">Unit</h1>
                    <h1 style="width: 80px; text-align: center;">Price</h1>
                    <h1 style="width: 86px; text-align: center;">Amount</h1>
                </div>
                <hr style="opacity: 0.6; margin: 3px 0; border-bottom: 1px solid #000000;" />
                <div style="display: flex; font-size: 11px; font-weight: 500;">
                    <div style="width: 222px;">
                        <h1 style="width: 171px; font-weight: 700;">Banking Platform One Time Onboard Fees</h1>
                    </div>
                    <h1 style="width: 85px; text-align: center;">998316</h1>
                    <h1 style="width: 50px; text-align: center;">1</h1>
                    <h1 style="width: 80px; text-align: center;">INR 1000</h1>
                    <h1 style="width: 86px; text-align: center;">INR 1000</h1>
                </div>
                <hr style="opacity: 0.6; margin: 3px 0; border-bottom: 1px solid #000000;" />
                <div style="display: flex; justify-content: space-between; width: 504px;">
                    <div></div>
                    <div style="width: 180px; font-weight: 500;">
                        <div style="display: flex; justify-content: space-between; font-size: 10px; margin: 0 3px;">
                            <h2>Subtotal</h2>
                            <h2>INR 1000</h2>
                        </div>
                        <hr style="opacity: 0.6; width: 191px; margin: 3px 0; border-bottom: 1px solid #000000;" />
                        <div style="display: flex; justify-content: space-between; font-size: 10px; margin: 0 3px;">
                            <h2>CGST 9%</h2>
                            <h2>INR 90</h2>
                        </div>
                        <hr style="opacity: 0.6; width: 191px; margin: 3px 0; border-bottom: 1px solid #000000;" />
                        <div style="display: flex; justify-content: space-between; font-size: 10px; margin: 0 3px;">
                            <h2>SGST 9%</h2>
                            <h2>INR 90</h2>
                        </div>
                        <hr style="opacity: 0.6; width: 191px; margin: 3px 0; border-bottom: 1px solid #000000;" />
                        <div style="display: flex; justify-content: space-between; font-size: 10px; margin: 0 3px;">
                            <h2>IGST 18%</h2>
                            <h2>INR 180</h2>
                        </div>
                        <hr style="opacity: 0.6; width: 191px; margin: 3px 0; border-bottom: 1px solid #000000;" />
                        <div style="display: flex; justify-content: space-between; font-size: 10px; margin: 0 3px; font-weight: 700;">
                            <h2>Grand Total</h2>
                            <h2>INR 1360</h2>
                        </div>
                    </div>
                </div>
                <div style="font-size: 10px; font-weight: 400; margin-top: 8px;">
                    <p>This is an auto generated invoice and does not require a signature.</p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>